* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    min-height: 100vh;
    background: -webkit-gradient(linear, left bottom, right top, from(#f46b45), to(#ED8F03));
    display: flex;
    align-items: center;
    justify-content: center;
}

.glass {
    background: white;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.4));
    min-height: 80vh;
    width: 60%;
    border-radius: 2rem;
    z-index: 2;
    display: flex;
}

.circle1, .circle2 {
    background: white;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.2));
    min-height: 15rem;
    position: absolute;
    top: 15%;
    width: 17rem;
    border-radius: 50%;
}

.circle2 {
    top: -5%;
    left: 70%;
}
.circle1 {
    top: 65%;
    left: 10%;
}


.dashboard {
    background: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    max-width: 30vh;
    align-items: center;
    border-radius: 2rem 0rem 0rem 2rem;
    flex: 1;
}

.games {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.cards {
    width: 100%;
}

.cards .card {
    background: white;
    margin: 2rem;
    border-radius: 0.4rem;
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}

.cards .card img {
    max-width: 25%;
    border-radius: 50% 0%;
}

.games .status input {
    border: none;
    opacity: 0.7;
    box-shadow: 0 0 0 0;
    outline: 0;
    width: 40vh;
    position: relative;
    left: -35%;
    padding: 0.9px;
    margin-top: 2rem;
}

.games .status h1 {
    position: relative;
    left: -35%;
}

.games .status h1 span {
    color: orange;
    font-size: 26px;
}




