* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main {
  min-height: 100vh;
  background: -webkit-gradient(linear, left bottom, right top, from(#f46b45), to(#ED8F03));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.glass {
  background: white;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.7)), to(rgba(255, 255, 255, 0.4)));
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.4));
  min-height: 80vh;
  width: 60%;
  border-radius: 2rem;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.circle1, .circle2 {
  background: white;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.8)), to(rgba(255, 255, 255, 0.2)));
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.2));
  min-height: 15rem;
  position: absolute;
  top: 15%;
  width: 17rem;
  border-radius: 50%;
}

.circle2 {
  top: -5%;
  left: 70%;
}

.circle1 {
  top: 65%;
  left: 10%;
}

.dashboard {
  background: white;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 30vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 2rem 0rem 0rem 2rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.games {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.cards {
  width: 100%;
}

.cards .card {
  background: white;
  margin: 2rem;
  border-radius: 0.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 1rem;
  -webkit-box-shadow: 3px 3px 4px gray;
          box-shadow: 3px 3px 4px gray;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.cards .card:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.cards .card img {
  max-width: 25%;
  border-radius: 50% 0%;
  -webkit-box-shadow: 02px 02px 02px gray;
          box-shadow: 02px 02px 02px gray;
}

.cards .card img:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.games .status input {
  border: none;
  opacity: 0.7;
  -webkit-box-shadow: 0 0 0 0;
          box-shadow: 0 0 0 0;
  outline: 0;
  width: 40vh;
  position: relative;
  left: -35%;
  padding: 0.9px;
  margin-top: 2rem;
  border-radius: 20px;
}

.games .status h1 {
  position: relative;
  left: -35%;
}

.games .status h1 span {
  color: orange;
  font-size: 26px;
}

.dashboard .links {
  padding: 50px 0px 10px 0px;
}

.dashboard .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0px 10px 0px;
  cursor: pointer;
}

.user {
  text-align: center;
}
/*# sourceMappingURL=main.css.map */